.iconosAdmin{
	font-size: 70px;
	margin-right: 0px;
}
.titulosAdmin{
	float: right;
	margin-right: 270px;
	margin-left: 0px;

}
.titulosAdmin2{
	float: right;
	margin-right: 150px;
	margin-left: 0px;

}
.returnAdmin
{
	font-size: 35px;
	margin-left: 105px;
}
.titulosAdmin:hover
{
	color: #009EB7;
}
.link-dark:hover
{
	color: #009EB7;
}
.div-pais
{
    background: #ECECEC;
    color: black;
}
.div-pais:hover
{
    transform: scale(1.05);
    transition: 0.5s;
}
.eliminar
{
    float: right;
}
.modificar
{
    float: right;
    margin-right: 8px;
}

.div-admin:hover
{
	transform: scale(1.05);
    transition: 0.5s;
}